name: Deploy CF

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop

jobs:
  build-and-deploy:
    runs-on: ["gha-runner-scale-set-neonevm"]
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        
    - name: Install dependencies
      run: npm ci

    - name: Build project (Next.js)
      run: npm run build

    - name: Generate Cloudflare Pages artifacts (Next on Pages)
      run: npx --yes @cloudflare/next-on-pages@latest

    - name: Publish to Cloudflare Pages
      uses: cloudflare/wrangler-action@v3
      with:
        apiToken: ${{ secrets.CF_PAGES_TOKEN }}
        command: |
          pages deploy ./.vercel/output/static --project-name="fortune-cookie"
